k-means

In [1]:
import pandas as pd
import matplotlib.pyplot as pl
from sklearn.cluster import KMeans
import numpy as np
import seaborn as sb
%matplotlib inline
df=pd.read_csv('class01.csv')

lista1 = np.array([ 1 for x in range(101)])
listaneg_1 = np.array([ -1 for x in range(101)])
lista_alter = np.array([((-1) ** x) for x in range(101)])

centroid= [lista1, listaneg_1 , lista_alter]
init_center=np.array(centroid, np.int32)
kmeans = KMeans(n_clusters=3, init=init_center, max_iter=10, random_state=0).fit(df)

/home/cynthia.mendoza/anaconda3/envs/env_jupiter/lib/python3.7/site-packages/sklearn/cluster/k_means_.py:969: RuntimeWarning: Explicit initial center position passed: performing only one init in k-means instead of n_init=10
  return_n_iter=True)

In [ ]:
kmeans.labels_
df['k_classe']=kmeans.labels_
sb.pairplot(df, hue='k_classe')

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 101 entries, x0 to target
dtypes: float64(101)
memory usage: 789.1 KB

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x91,x92,x93,x94,x95,x96,x97,x98,x99,target
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,-0.096266,0.014582,-0.012316,0.030406,-0.026933,-0.021253,0.008051,0.042348,0.031426,0.491995,...,-0.032395,0.022617,0.056574,0.046068,-0.088207,-0.058650,-0.000054,0.046241,0.494245,4.476000
std,1.000146,1.005214,0.993776,1.001015,0.990682,0.985895,1.017759,0.992639,0.984390,1.290292,...,0.998248,0.964947,1.321686,1.025302,2.171627,1.034292,0.976404,1.024592,2.456789,2.882661
min,-3.265301,-3.631539,-3.200570,-2.908661,-3.427656,-3.093226,-3.288157,-3.453354,-3.065139,-4.670887,...,-3.421380,-2.848527,-5.326651,-3.241514,-6.868660,-3.436062,-3.295561,-3.317318,-8.327271,0.000000
25%,-0.771473,-0.635056,-0.692629,-0.625396,-0.674724,-0.684723,-0.641661,-0.656486,-0.600219,-0.293665,...,-0.727038,-0.643259,-0.816031,-0.629106,-1.675332,-0.780741,-0.655235,-0.678899,-0.851425,2.000000
50%,-0.099890,0.011245,-0.045478,0.008414,-0.049873,0.019043,-0.012770,0.042799,0.032377,0.494398,...,-0.051054,0.057700,0.092801,0.049796,-0.280145,-0.086363,-0.000092,0.072524,0.558571,4.000000
75%,0.570095,0.683701,0.623559,0.674112,0.668237,0.658805,0.721492,0.688914,0.734728,1.219463,...,0.628815,0.639911,0.850601,0.727518,1.385814,0.667781,0.689818,0.735543,1.991380,7.000000
max,3.231067,2.944420,3.354573,3.401876,3.168240,3.222928,3.285724,3.602415,3.120977,5.822964,...,3.186575,2.856903,5.658995,3.054909,7.921016,3.158073,2.839623,3.015966,9.961972,9.000000

In [ ]:
sb.pairplot(df, hue='target')

In [3]:
from pylab import plot,show
from numpy import vstack,array
from numpy.random import rand
from scipy.cluster.vq import kmeans2,vq
import pandas as pd
import matplotlib.pyplot as pl
#from sklearn.cluster import KMeans
import numpy as np
import seaborn as sb
%matplotlib inline

data=pd.read_csv('class01.csv')
centroid= np.array([1, 1, 1, 1], [-1, -1, -1, -1] , [1, -1, 1, -1])

# computing K-Means with K = 2 (2 clusters)
centroids, _ = kmeans2((data, 3, 10, 1e-05, centroid, 'warn', True)
# assign each sample to a cluster
#vq(data,centroids)

# some plotting using numpy's logical indexing
#plot(data[idx==0,0],data[idx==0,1],'ob',
 #    data[idx==1,0],data[idx==1,1],'or')
#plot(centroids[:,0],centroids[:,1],'sg',markersize=8)

SyntaxError: unexpected EOF while parsing (<ipython-input-3-b9e8940dd673>, line 23)

In [16]:
import pandas as pd
import matplotlib.pyplot as pl
from sklearn.cluster import KMeans
import numpy as np
import seaborn as sb
%matplotlib inline

np.random.randint(2, size=101)

array([0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0])

In [53]:
lista1 = [ 1 for x in range(101)]
listaneg_1 = [ -1 for x in range(101)]
lista_alter = [((-1) ** x) for x in range(101)]
lista_0_1 = [(x%2)*(-1 ** x) for x in range(101)]
centroid= [[1, 1, 1, 1,1, 1, 1, 1,1,1], [-1, -1, -1, -1,-1, -1, -1, -1,-1, -1] , [1, -1, 1, -1,1, -1, 1, -1,1, -1]]

In [54]:
lista_alter

[1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1]

In [40]:
VER

array([ 0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0,
       -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,
        0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0,
       -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,
        0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0,
       -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0, -1,  0])

In [31]:
import math

math.exp( 2 )

7.38905609893065